@model BaseResponseModel<List<IncidentDto>>

@if (Model.StatusCode == StatusCodes.Status200OK)
{
    <div class="row mt-3 mb-5" id="tableRow">
        <div class="col-12 p-0 border-0 ">
            <div class="bg-white rounded p-3 ">
                <div class="row g-3 pb-4 pt-4">
                    @foreach (var incident in Model.Data!)
                    {
                        <div class="col-12">
                            <div class="p-3 bg-light rounded shadow-sm h-100 wrapper">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-1">@incident.Username</h6>
                                    <span class="badge text-danger">@incident.CreatedAt.ToString("HH:mm dd.MM")</span>
                                </div>
                                <p class="mb-1 bold">Reason: <span class="pulse-text">@incident.Reason</span></p>
                                <small class="text-muted d-block">Comment: @incident.Comment</small>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row mt-3 mb-5" id="tableRow">
        <div class="col-12 p-0 border-0 ">
            <div class="bg-white rounded p-3 py-4 d-flex flex-column justify-content-center align-items-center ">
                <h1 class="blue strong text-center">@Model.Message</h1>
                <div class="img-list-container d-flex justify-content-center">
                    <img class="img-fluid rounded-circle fade-in" id="emptyListImg"
                         src="/img/empty-list.jpg" alt="Empty list">                
                </div>
            </div>
        </div>
    </div>
    
}
<script src="~/js/showImg.js"></script>
<script>
    showImg("emptyListImg");
</script>

